[![Coding standards](https://github.com/DbToolsBundle/[your-pack]/actions/workflows/coding-standards.yml/badge.svg)](https://github.com/DbToolsBundle/[your-pack]//actions/workflows/coding-standards.yml) [![Static Analysis](https://github.com/DbToolsBundle/[your-pack]/actions/workflows/static-analysis.yml/badge.svg)](https://github.com/DbToolsBundle/[your-pack]/actions/workflows/static-analysis.yml) [![Continuous Integration](https://github.com/DbToolsBundle/[your-pack]/actions/workflows/continuous-integration.yml/badge.svg)](https://github.com/DbToolsBundle/[your-pack]/actions/workflows/continuous-integration.yml)


# DbToolsBundle - Pack [your pack name]
[a short description]

This pack provides:

* `my-pack:anonymizer-1`: a short description of this anonymizer
* `my-pack:anonymizer-2`: a short description of this anonymizer
* `my-pack:anonymizer-3`: a short description of this anonymizer

## Installation

Run the following command to add this pack to your application:

```sh
composer require db-tools-bundle/pack-[your pack]
```

Learn more about how to use this package reading [the DbToolsBundle documentation](https://dbtoolsbundle.readthedocs.io/) on Read the Docs.

## Licence

This software is published under the [MIT License](./LICENCE.md).
